.card {
  @include card;

  &--error {
    background-color: $error-background;
    color: $error-color;
    border-color: $error-color;
  }
  &--warning {
    background-color: $warning-background;
    color: $warning-color;
    border-color: $warning-color;
  }
  &--success {
    background-color: $success-background;
    color: $success-color;
    border-color: $success-color;
  }
}

a.card {
  display: inline-block;
  margin-bottom: 0;

  cursor: pointer;
}
