@import 'settings';
@import 'mixins';
@import 'normalize';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@import 'type';
@import 'grid';
@import 'card';

body {
  background-color: $background-color;

  margin: $gutter-size;
}
